{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ScrimPay</title>
  </head>
  <body>


    <form method="POST">
    <!-- <form action ="test" method="POST"> -->
      {% csrf_token %}
        <fieldset>
          <legend>加入しているサービスを選択してください</legend>
              {% for i in val3 %}
                  <div>
                  <input type="checkbox" id = "music" name="checks[]" value="{{i.service_id}}">
                  <label>{{i.service_name}} {{i.plan_name}}</label>
                </div>
            {% endfor %}

            <div>
              <input type="submit" id="button" name="button" value="送信">
            </div>
          </fieldset>
    </form>


                            



  </body>
</html>
