{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>メインページ</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  
  <!-- <script type="text/javascript" src="{% static 'javascript/app.js' %}"></script> -->
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

  <body>
    <div>月々の支払い ¥{{fee_sum}}</div>

    <div id="app">
        <doughnut-chart></doughnut-chart>
    </div>



    <div class="container">
        <a href = "http://127.0.0.1:8000/scrimpay/">契約サービス追加</a>
        <p>動画配信サービス</p>
        {% for i in val3 %}

            {% for j in val%}

                {% if i.service_id == j.service_id %}
                <ul>
                    <li>{{i.service_name}}</li>
                    <li>{{i.plan_name}}</li>
                    <li>{{i.fee_per_month}}円</li>
                </ul>
                    
                {% endif %}
            {% endfor %}
      {% endfor %}

    </div>
  </body>

    <form action="/scrimpay/search" method="POST">
        {% csrf_token %}
        <body>
            <div style = "text-align:center">
                <input type="submit" name='reverse' value="検索へ" />
            </div>
        </body>
    </form>


</html>



<script>

var aaa = '{{array}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
ary = aaa.split(',');

var aaa = '{{color_array}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
color_ary = aaa.split(',');

var aaa = '{{rate_array}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
rate_ary = aaa.split(',');


Vue.component('doughnut-chart', {
    extends: VueChartJs.Doughnut,
    mounted(){
        this.renderChart({
            labels: ary,
            datasets:[
                {
                    backgroundColor: color_ary,
                    data:rate_ary
                }
            ],
        }, {responsive: true, maintainAspectRatio: false})
    }
})

var vm = new Vue({
    el: '#app',
})
</script>