{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScrimPay rod page</title>
    <link rel="stylesheet" href="{% static 'css/rod.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Calistoga|Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  
  </head>
  
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

  <body class="center">
    <header class="strheader">
        <div class="headerinner">
            <div class="header01">
                <div class="header_name">Scrim<span class="header_subname">Pay</span></div>
            </div>
            <div>
                <nav class="navi01">
                    <ul class="foo">
                        <li class="inline-item"><a class="menu" href="">HOME</a></li>
                        <li class="inline-item"><a class="menu" href="{% url 'scrimpay:search' %}">SEARCH</a></li>
                        <li class="inline-item"><a class="menu" href="">HELP</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="main">
    <div class="explain">
        Recommendations!
    </div>
    

    <div id="app" class="graph">
        <bar-chart></bar-chart>
    </div>

    <div class="explain">
        Your Signed Service
    </div>
    <div>
        {% for i in val3 %}
            {% for j in val%}
                {% if i.service_id == j.service_id %}
                <div class="tab">
                    <input id={{i.service_name}} type="checkbox" name="tabs">
                    <label for={{i.service_name}}>{{i.service_name}}</label>
                    <div class="tab-content">
                        <p>{{i.plan_name}}</p>
                        <p>{{i.fee_per_month}}円</p>
                    </div>
                </div>        
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <div class="explain2">
        Push Your Best Plan!
    </div>
    <form action="/scrimpay/support" method="POST">
        {% csrf_token %}
        <div class="box">
            <div class="box-title">Plan1</div>
                <button class="btn-flat-border" name="change1" onclick="valueChange1()">
                    <input type="hidden" name="pl1[]" value="" id="num10">
                    <input type="hidden" name="pl1[]" value="" id="num11">
                    <input type="hidden" name="pl1[]" value="" id="num12">
                    <input type="hidden" name="pl1[]" value="" id="num13">
                    <input type="hidden" name="pl1[]" value="" id="num14">
                    {% for i in val3 %}
                        {% for list in plan1%}
                            {% if i.service_id == list %}
                                <div class="detail">
                                    {{i.service_name}} {{i.fee_per_month}}円
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            </button>
        </div>

        <div class="box">
            <div class="box-title">Plan2</div>
                <button class="btn-flat-border" name="change2" onclick="valueChange2()">
                    <input type="hidden" name="pl2[]" value="" id="num20">
                    <input type="hidden" name="pl2[]" value="" id="num21">
                    <input type="hidden" name="pl2[]" value="" id="num22">
                    <input type="hidden" name="pl2[]" value="" id="num23">
                    <input type="hidden" name="pl2[]" value="" id="num24">
                    {% for i in val3 %}
                        {% for list in plan2%}
                            {% if i.service_id == list %}
                            <div class="detail">
                                {{i.service_name}} {{i.fee_per_month}}円
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            </button>
        </div>

        <div class="box">
            <div class="box-title">Plan3</div>
            <button class="btn-flat-border" name="change3" onclick="valueChange3()">
                    <input type="hidden" name="pl3[]" value="" id="num30">
                    <input type="hidden" name="pl3[]" value="" id="num31">
                    <input type="hidden" name="pl3[]" value="" id="num32">
                    <input type="hidden" name="pl3[]" value="" id="num33">
                    <input type="hidden" name="pl3[]" value="" id="num34">
                    {% for i in val3 %}
                        {% for list in plan3%}
                            {% if i.service_id == list %}
                            <div class="detail">
                                {{i.service_name}} {{i.fee_per_month}}円
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            </button>
        </div>
    </div>
    </div>



    <footer class="footer01">
        <div class="footer02">
          <div class="footer03">
  
          </div>
        </div>
      </footer>

  </body>
</html>



<script>

var aaa = '{{fee_sum}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
fee_sum = aaa.split(',');

var aaa = '{{plan_sum}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
plan_sum = aaa.split(',');

var aaa = '{{plan1}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
plan1 = aaa.split(',');

var aaa = '{{plan2}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
plan2 = aaa.split(',');

var aaa = '{{plan3}}';
aaa = aaa.replace(/&#39;/g,"");
aaa = aaa.replace(/, /g,",");
aaa = aaa.replace("[","");
aaa = aaa.replace("]","");
plan3 = aaa.split(',');

function valueChange1(){
    for(let k in plan1){
        document.getElementById('num1'+k).value = plan1[k];
    }
}

function valueChange2(){
    for(let k in plan2){
        document.getElementById('num2'+k).value = plan2[k];
    }
}

function valueChange3(){
    for(let k in plan3){
        document.getElementById('num3'+k).value = plan3[k];
    }
}

Vue.component('bar-chart', {
    extends: VueChartJs.Bar,
    mounted(){
        this.renderChart({
            labels: ['現状', 'プラン１', 'プラン２', 'プラン３'], //for文でサービスを複数表示
            datasets:[
                {
                    // label: '合計金額',
                    // backgroundColor: ['#FFFF44', '#FF4444', '#44BB44', '#4444FF'],
                    backgroundColor: ['#037712','#2cd615ad','#2cd615ad','#2cd615ad'],
                    data:plan_sum,
                }
            ],
        }, {
            responsive: true,
            maintainAspectRatio: false,
            legend:{
                display: false
            },
            scales:{
                xAxes:[
                    {
                        display: true,
                        gridLines:{
                            color: "dimgray"
                        },
                        ticks:{
                            fontColor: "dimgray"
                        },
                    }
                ],
                yAxes:[
                    {
                        display:true,
                        scaleLabel:{
                            fontColor: "dimgray",
                        },
                        gridLines:{
                            color: "dimgray",
                        },
                        ticks:{
                            min:0,
                            fontColor: "dimgray"
                        },
                    }
                ]
            }
        })
    }
})


var vm = new Vue({
    el: '#app',
})
</script>