{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ScrimPay search page</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Calistoga|Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

    <body class="center">
        <header class="strheader">
            <div class="headerinner">
                <div class="header01">
                    <div class="header_name">Scrim<span class="header_subname">Pay</span></div>
                </div>
                <div>
                    <nav class="navi01">
                        <ul class="foo">
                            <li class="inline-item"><a class="menu" href="{% url 'scrimpay:main' %}">HOME</a></li>
                            <li class="inline-item"><a class="menu" href="{% url 'scrimpay:search' %}">SEARCH</a></li>
                            <li class="inline-item"><a class="menu" href="">HELP</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>


        <form action="/scrimpay/rod" method="POST">
            {% csrf_token %}

            <div class="main">

                <div class="explain">Search Your Favorite!</div>

                <div class="box">
                    <div class="box-title">Budget</div>
                    <div class="cp_ipselect cp_sl04">
                        <select required name = "budget1">
                            <option value="0" hidden>Min Budget</option>
                            <option value="0">¥0</option>
	                        <option value="1000">¥1000</option>
                            <option value="2000">¥2000</option>
                            <option value="3000">¥3000</option>
                            <option value="4000">¥4000</option>
                            <option value="5000">¥5000</option>
                        </select>
                    </div>
                    <div class="cp_ipselect cp_sl04">
                        <select required name = "budget2">
                            <option value="1000" hidden>Max Budget</option>
                            <option value="1000">¥1000</option>
                            <option value="2000">¥2000</option>
                            <option value="3000">¥3000</option>
                            <option value="4000">¥4000</option>
                            <option value="5000">¥5000</option>
                            <option value="6000">¥6000</option>
                            <option value="7000">¥7000</option>
                            <option value="8000">¥8000</option>
                            <option value="9000">¥9000</option>
                            <option value="10000">¥10000</option>
                        </select>
                    </div>
                    
                </div>

                <div class="box">
                    <div class="box-title">Genre priority</div>
                    <div class="cp_ipselect cp_sl04">
                        <select name = "tag1">
                            <option hidden>No. 1</option>
                            <option>アニメ</option>
                            <option>ドラマ</option>
                            <option>邦画</option>
                            <option>スポーツ</option>
                            <option>バラエティー</option>
                        </select>
                    </div>
                    <div class="cp_ipselect cp_sl04">
                        <select name = "tag2" class="pt20">
                            <option hidden>No. 2</option>
                            <option>アニメ</option>
                            <option>ドラマ</option>
                            <option>邦画</option>
                            <option>スポーツ</option>
                            <option>バラエティー</option>
                        </select>
                    </div>
                    <div class="cp_ipselect cp_sl04">
                        <select name = "tag3" class="pt20">
                            <option hidden>No. 3</option>
                            <option>アニメ</option>
                            <option>ドラマ</option>
                            <option>邦画</option>
                            <option>スポーツ</option>
                            <option>バラエティー</option>
                        </select>
                    </div>
                </div>


                <div class="box">
                    <div class="box-title">Option</div>
                    <div class="cp_ipcheck">
                        <input type="checkbox" name="checks[]" value="option1" id="option1"/>
                        <label for="option1">学生</label>    
                    </div>
                </div>


                <div class="box">
                    <div class="box-title">Good Plans</div>
                    <div class="cp_ipselect cp_sl04">
                        <div class="form-group">
                        <select name = "type">
                            <option value="1">1 plans</option>
                            <option value="2">2 plans</option>
                            <option value="3">3 plans</option>
                            <option value="4">4 plans</option>
                            <option value="5">5 plans</option>
                        </select>
                    </div>
                </div>

            <footer class="footer01">
                <div class="footer02">
                <div class="footer03">
                    <div class="btn-border">
                    <button class="cp_btn" id="button" name="button">GO!</button>
                    </div>
                </div>
                </div>
            </footer>
            </div>
        </form>
    </body>

</html>

