@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: darkolivegreen;
    color: white;
    height: 90px;
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
